*{
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #000;           
}

i{
    color: #0081FE;
}

.header{
    padding: 32px 128px;
}

.logo-header:hover{
    transform: scale(1.1);
    transition: all ease 0.3s;
}

.links-header{
    display: flex!important;
    justify-content: space-evenly!important;
    align-items: center!important;
}

.link-header:hover{
    transform: scale(1.2);
    transition: all ease 0.3s;
}

.section-solucao{
    background-color: #F7F7F7;
    padding: 3rem 2rem;
    text-align: center;
}

.card-img-top{
    width: 50%;
    border-radius: 50%;
    align-self: center;
    padding: 1rem;
}

.card-title{
    color: #058CEB;
    font-weight: bold;
}

.col-card{
    text-align: -webkit-center;
}

.footer{
    background-color: #FFF;
    padding: 3rem 2rem;
}

.logo-footer{
    width: 20rem;
}

.col-footer{
    text-align-last: center;
    align-content: center;
    row-gap: 1rem;
    display: grid;
}

.footer-endereco, .footer-telefone{
    display: flex;
    justify-content: center;
}

.footer-socials{
    display: flex;
    justify-content: center;
    column-gap: 2.3rem;
}