*{
    text-decoration: none;
}

body{
    background: rgb(0,122,255);
    background: linear-gradient(90deg, rgb(183 244 255 / 50%) 0%, rgb(0 206 255 / 15%) 35%);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #000;           
}

i{
    color: #0081FE;
}

.header{
    padding: 32px 128px;
}

.logo-header:hover{
    transform: scale(1.1);
    transition: all ease 0.3s;
}

.links-header{
    display: flex!important;
    justify-content: space-evenly!important;
    align-items: center!important;
}

.link-header:hover{
    transform: scale(1.2);
    transition: all ease 0.3s;
}

.section-inicial{
    padding: 1rem 0rem 3rem 0rem;
}

.text-gradient {
    background: linear-gradient(#5433FF, #20BDFF, #A5FECB);
    background: linear-gradient(90deg, #5433FF, #20BDFF, #A5FECB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-inicio:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.titulo{
    font-weight: 700;
}

.subtitulo{
    margin-bottom: 3rem;
}

.footer{
    background-color: #FFF;
    padding: 3rem 2rem;
}

.logo-footer{
    width: 20rem;
}

.col-footer{
    text-align-last: center;
    align-content: center;
    row-gap: 1rem;
    display: grid;
}

.footer-endereco, .footer-telefone{
    display: flex;
    justify-content: center;
}

.footer-socials{
    display: flex;
    justify-content: center;
    column-gap: 2.3rem;
}